<aside class="col-3 border border-light bg-white p-2 mt-4">
    <h2 class="text-primary">Administration</h2>
    <div class="card mb-3">
        <h4 class="card-header">Catégories</h4>
        <div class="card-body">
            <p class="mt-2"><a href=" {{ path('app_admin_category_index') }} " class="btn btn-secondary d-block">Gestion des catégories</a></p>
        </div>
    </div>
    <div class="card mb-3">
        <h4 class="card-header">Produits</h4>
        <div class="card-body">
            <p class="mt-2"><a href="{{ path('app_admin_product_index') }} "class="btn btn-secondary d-block">Gestion des Produits</a></p>
        </div>
    </div>
    <div class="card mb-3">
        <h4 class="card-header">Utilisateurs</h4>
        <div class="card-body">
            <p class="mt-2"><a href="{{ path('app_admin_user_index') }} "class="btn btn-secondary d-block">Gestion des Utilisateurs</a></p>
        </div>
    </div>
    <div class="card mb-3">
        <h4 class="card-header">Commandes</h4>
        <div class="card-body">
            <p class="mt-2"><a href=""class="btn btn-secondary d-block">Gestion des commandes</a></p>
        </div>
    </div>
</aside>